{% extends 'nav.html' %}

{% block title %}
set password
{% endblock title %}


{% block body %}  
    
      <div class="row">

        <div class="col-md-2"> </div>
        <div class="col-md-4">
             <br><br><br><br>
            <center><h1>set new password</h1></center>
            <form method="post" action= "{% url 'set-new-password' uidb64 token %}" > {% csrf_token %}
                
              {% for message in messages %}
              <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong></strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

              {% endfor  %} 
                 

                 

                  <div class="input-group mb-3 fa-2p">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock fa-2p"></i></span>
                    <input type="password" class="form-control" placeholder="password"  name="pass1"  required>
                  </div>

                  <div class="input-group mb-3 fa-2p">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock fa-2p"></i></span>
                    <input type="password" class="form-control" placeholder="confirm password"  name="pass2"  required>
                  </div>

                  

              
                  

                  <div class="mb-2">
                    <button class="btn btn-primary" type="submit">submit</button>
                  
                  </div>
                  
                 
                </form> 

            </div>


            <div class="col-md-6">


            </div>

        </div>




      </div>            
      
    


{% endblock body %}

{% block style %}

<script src="https://kit.fontawesome.com/0c1a238acd.js" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% endblock style %}